/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* .navbar{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */
    .image-float{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: -30px;
        height: 160px;
    }
    .img-1{
        width: 90%;
        margin: auto;
    }
    .img-2{
        display: none;
    }
    .lg-title{
        display: none;
    }
    .sm-title{
        display: block;
    }
    .title-1{
        font-size: 18px;
        margin-bottom: 12px;
        color: #B4B4B4;
    }
    .wrap {
        font-size: 14px;
    }
    .wrap span{
        display: block;
    }
    .bottom {
        position: relative !important;
    }
    .decor {
        height: 50px;
    }
    .wrapper-button .btn-home:nth-child(1){
        margin-bottom: 16px;
        margin-right: 0;
    }
    .wrapper-button{
        margin-bottom: 50px;
        justify-content: center;
    }
    .wrapper-row{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .wrapper-row i{
        display: none;
    }
    .copy-right{
        text-align: center;
    }
    .login{
        background-color: transparent;
        color: #FFFFFF !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media  (min-width: 600px) and (max-width:992px){
    .float {
        position: relative;
    }
    .wrap {
        font-size: 14px;
    }
    .wrap span{
        display: block;
    }
    .bottom {
        position: relative !important;
    }
    
    .title-1-sm{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        display: block !important;
    }.decor {
        height: 50px;
    }
    .title-1{
        display: none;
    }
    .btn-home{
        margin-bottom: 16px;
    }
    .wrapper-button{
        margin-bottom: 50px;
    }
    .wrapper-row{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .wrapper-row i{
        display: none;
    }
    .copy-right{
        text-align: center;
    }
    
    .login{
        background-color: transparent;
    color: #FFFFFF !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1440px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    
}